SECRET_KEY=YOUR_SECRET_KEY

# local for local, prod for production
DJANGO_ENV=local

# True for local, False for profuction
DEBUG=True

# * for local, www.example.com for production
ALLOWED_HOSTS=www.example.com,localhost,127.0.0.1
